/*
  *= require_self
  *= require_tree
*/
@import "semantic-ui";

.column.buttons{
  .button{
    width: 100%;
    min-height: 50px;
  }
}


.ui.grid {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 0rem;
  margin-right: 0rem;
}

.cart-items{
	width: 80%;
  margin: auto;
  top: 50px;
  position: relative;

  .item-count{
  	margin-bottom: 37px;
  }

  .header{
  	display: block;

  	.title{
  		display: inline-block;
  	}
  	.continue-shopping{
  		display: inline-block;
		  float: right;
		  font-weight: initial;
		  font-family: -webkit-body;
  	}
  }
}

.extra.content{
  display: block;
  .left-item{
    display: inline-block;
  }
  .new_order_item{
    display: inline-block;
    float: right;
  }
}

.ui.special.cards.isotope{
  margin-left: auto !important;
  margin-right: auto !important;
  min-height: 400px;
  @media (min-width: 1800px){
    width: 1800px;
  }
  @media (min-width: 1740px) and (max-width : 1800px ){
    width: 1495px;
  }
  @media (min-width: 1525px) and (max-width : 1740px ){
    width: 1525px;
  }
  @media (min-width: 1245px) and (max-width : 1525px ){
    width: 1200px;
  }
  @media (min-width:997px) and (max-width : 1245px ) {
    width: 898px;
  }
  @media (min-width:596px) and (max-width : 996px ) {
    width: 633px;
  }
  @media (min-width:498px) and (max-width : 596px ) {
    width: 629px;
  }
  @media (max-width: 498px){
    width: 298px;
  }

  .element-item.transition.card {
    max-width: 285px;
  }
}