/*
  *= require_self
  *= require_tree
*/
@import "semantic-ui";

.ui.grid {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 0rem;
  margin-right: 0rem;
}

.cart-items{
	width: 80%;
  margin: auto;
  top: 50px;
  position: relative;

  .item-count{
  	margin-bottom: 37px;
  }

  .header{
  	display: block;

  	.title{
  		display: inline-block;
  	}
  	.continue-shopping{
  		display: inline-block;
		  float: right;
		  font-weight: initial;
		  font-family: -webkit-body;
  	}
  }
}

.extra.content{
  display: block;
  .left-item{
    display: inline-block;
  }
  .new_order_item{
    display: inline-block;
    float: right;
  }
}