<div class="column buttons">
  <button class="ui inverted red button" data-filter="*">
    <span class="web">All</span>
  </button>
</div>
<div class="column buttons">
  <button class="ui inverted yellow button " data-filter=".womens_footwear">
    <span class="web">Women’s Footwear</span>
  </button>
</div>
<div class="column buttons">
  <button class="ui inverted blue button text" data-filter=".mens_footwear">
    <span class="web">Men’s Footwear</span>
  </button>
</div>
<div class="column buttons">
  <button class="ui inverted orange button " data-filter=".womens_casualwear">
    <span class="web">Women’s Casual</span>
  </button>
</div>
<div class="column buttons">
  <button class="ui inverted green button " data-filter=".mens_casualwear">
    <span class="web">Men’s Casual</span>
  </button>
</div>
<div class="column buttons">
  <button class="ui inverted purple button " data-filter=".womens_formalwear">
    <span class="web">Women’s Formal</span>
  </button>
</div>
<div class="column buttons">
  <button class="ui inverted purple button " data-filter=".mens_formalwear">
    <span class="web">Men’s Formalwear</span>
  </button>
</div>
