<div class="ui menu">
  <div class="header item">
    <a href="/products">products</a>
  </div>
  <a class="item">
    Jobs
  </a>
  <a class="item">
    Locations
  </a>
  <div class="right menu">
    <div class="header item">
      <i class="shop icon"></i>
    	<%= link_to "#{number_to_currency current_order.subtotal}", cart_path %>
    </div>
  </div>
</div>
